<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="dev-docker">
        <appender name="OpenTelemetry"
                  class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <captureExperimentalAttributes>false</captureExperimentalAttributes>
            <captureCodeAttributes>true</captureCodeAttributes>
            <captureMarkerAttribute>true</captureMarkerAttribute>
            <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
            <captureLoggerContext>true</captureLoggerContext>
            <captureMdcAttributes>*</captureMdcAttributes>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="OpenTelemetry"/>
        </root>
    </springProfile>

</configuration>