receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  prometheus:
    config:
      scrape_configs:
        - job_name: 'keycloak-collector'
          scrape_interval: 15s
          metrics_path: '/metrics'
          static_configs:
            - targets: [ 'keycloak:9000' ]
extensions:
  health_check:
    endpoint: "0.0.0.0:13133"
exporters:
  debug:
    verbosity: detailed
service:
  extensions: [ health_check ]
  pipelines:
    metrics:
      receivers: [ otlp, prometheus ]
      exporters: [ debug ]
    traces:
      receivers: [ otlp ]
      exporters: [ debug ]
    logs:
      receivers: [ otlp ]
      exporters: [ debug ]